<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorized Page</title>
</head>
<body>

<!-- Здесь добавьте разметку для вашей страницы интернет-магазина -->
<header>
        <h1>Добро пожаловать на главную страницу</h1>
    <a href="account/login"><button>Войти</button></a><br><br>
    <a href="/account/registration"><button>Зарегистрироваться</button></a><br><br>
        <a href="/home"><button>Если авторизовался</button></a>
</header>

</body>
</html>