
/* Добавляем пользовательские стили */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.product__card {
    margin-bottom: 20px;
}
.card-img-top {
    max-height: 200px;
    object-fit: contain;
}
/* Новые стили для корзины */
#cartItemList li {
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
}
#cartModal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}
/* Стили для кнопок в корзине */
#cartModal .modal-body button {
    margin-right: 10px;
}
